.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  height: 100vh;
  width: 100%;
  max-width: 500px;
}

.form {
  width: 80%;
  border: 1px solid grey;
  border-radius: 5px;
  background: lightblue;
  padding: 20px;
}

input {
  margin-left: 10px;
}

p {
  color:red;
}